/* header {
    border: 1px solid red;
} */
.swiper-container {
    background-color: #000;
    display: flex;
    height: 32px;
    width: 100%;
}
.left-icon {
    display: flex;
    padding-left: 50px;
    justify-content: flex-start;
    align-items: center;
}
.swiper-ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 14.3px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
}
.s-item {
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 14.3px;
    font-weight: 400;
    line-height: 20px;

}
.right-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-right: 10px;
}
.logo-box {
    border: 1px solid green;
    width: 165px;
}
.inner-bar {
    border: 1px solid blue;
    display: flex;
    padding-left: 28px;
    padding-right: 10px;
}
.menu01-left-ul {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
    gap: 30px;
}
.menu02-right-ul {
    border: 1px solid green;
    padding-right: 10px;
    justify-content: flex-end;
}
main {
    border: 1px solid red;
}
footer {
    border: 1px solid red;
}
