  */
/* 상단 스와이퍼 박스 */
 .menu01{
    position: relative;
 }
.swiper-container {
    background-color: #000;
    display: flex;
    height: 32px;
    width: 100%;
    position: relative;
}
/* 스와이퍼 박스 내부 왼쪽 아이콘 */
.left-icon {
    display: flex;
    padding-left: 50px;
    justify-content: flex-start;
    align-items: center;
}
/* 스와이퍼 글자 묶음 */
.swiper-ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 14.3px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
}
.s-item {
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 14.3px;
    font-weight: 400;
    line-height: 20px;

}
/* 스와이퍼 내부 오른쪽 아이콘 */
.right-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-right: 10px;
}
/* 네비게이션바 */
.inner {
    display: flex;
    height: 80px;
    flex-grow: 1; 
    justify-content: center;
    padding-left: 28px;
    padding-right: 10px; 
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 10;
    /* 패딩때문에 상자가 튀어나옴 방지 코드 */
    box-sizing: border-box;
}
.inner:hover {
    background-color: #fff;
}
.flex {
    display: flex;
    justify-content: center;
}
.logo-box {
    display: flex;
    align-items: center;
    height: 80px;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-left-ul {
    display: flex;
    justify-content: center;
    padding-left: 70px;
    gap: 30px;
}
.nav-left  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.m01-item01 {
    position: relative;
}
/* 2차 메뉴 about -> 쓰다 말았음 */
.menu02{
    width: 100%;
    height: 525px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    display: none;
}
.m01-item01:hover .menu02 {
    display: block;
}
.menu02-container02{
    background-color: #fff;
    height: 688px;
}
.nav-right {
    display: flex;
    justify-content: center;
    padding-left: 500px;
    padding-top: 20px; padding-bottom: 20px;
    gap: 30px;
}
/*검색바  */
.search-box {
    border-radius: 50px;
    background: rgba(236, 236, 236, 0.60);
    width: 400px;
    height: 43px;
    display: flex;
    align-items: center;
    /*상자 내부로 패딩 옮김 -> 그래도 search 글씨가 원하는 대로 안돼면 다시 코드 수정  */
    padding: 12px 15px 10px 20px;
    box-sizing: border-box;
}
.search-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.nav-right-ul {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
/* main {
    border: 1px solid red;
} */
/* 메인 이미지 컨테이너 */
.img-con {
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-con01 .img-con02{
    width: 50%
}

.main-all{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
} 
.top-text{
    font-size: 63px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0.2px;
}
footer {
    border: 1px solid red;
}
/* 하단 푸터 부분 */
/* 하단 푸터 그룹 */
.ft-group{
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: flex-start;
    gap: 0.003px;
}
/* 카피라이트 묶음상자 */
.util-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* ::after 적용하는 카피라이트 상자 */
.copyright{
    display: flex;
    min-width: 173px;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}
.copy-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
} 
/* 꺽쇠 클릭시 사이트 정보 - 미해결  */
.copyright:after {
    content: "";
    position: absolute;
    top: 50%; right: 0;
    width: 10px; height: 6px;
    background-image: src("./img/_after.svg");
    background-position: center;
    background-size: contain;
}